@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: Inter-Light;
  src: url("assets/fonts/Inter-Light.ttf");
}

.heading {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  margin: 0;
  padding-top: 20px;
  font-weight: 100;
}

p {
  display: flex;
  flex-direction: column;
  font-family: 'Inter-Light', sans-serif;
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 40px;
}

.intro {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  text-align: center;
  margin: auto;
  height: 100vh;
  max-width: 50vw;
  background-repeat: no-repeat;
}

.bg {
  display: flex;
  background-image: url("assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 160vw 100vh;
  flex-direction: column;
  justify-content: center;
}

.menu-btn {
  height: 30px;
  width: 30px;
}

.blue {
  color: #172b4d;
}

.green {
  color: #36b37e;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.social-btn {
  border: none;
  color: #172b4d;
  background-color: white;
  height: 30px;
  width: 30px;
}

.down {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-image: url("assets/images/down.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

ul {
  display: flex;
  padding-left: 0;
  width: 50vw;
  justify-content: space-around;
}

li {
  list-style: none;
  width: 30px;
  height: 30px;
}
